.menu {
  position: fixed; /* Зафиксируйте меню на экране */
  bottom: 0; /* Прикрепите его к нижнему краю */
  left: 0; /* Прижмите к левому краю */
  right: 0; /* Убедитесь, что оно занимает всю ширину */
  background-color: var(--white-color); /* Цвет фона меню */
  padding: 10px 20px; /* Внутренние отступы */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Небольшая тень для отделения от содержимого */
  z-index: 1000; /* Убедитесь, что меню поверх всех элементов */
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.menu__item {
  margin-right: 20px;
  text-align: center;
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--black-color);
}

.menu__link {
  margin-top: 5px;
  font-size: 10px;
  font-weight: 200;
  line-height: 1.4;;
}

.menu__link:hover {
  color: var(--orange-color);
}

.menu__picture {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.menu__picture-home {
  background-image: url(../../images/home-main-page.svg);
}

.menu__picture-home_active {
  background-image: url(../../images/home-main-page-active.svg);
}

.menu__picture-direction {
  background-image: url(../../images/directions.svg);
}

.menu__picture-direction_active {
  background-image: url(../../images/directions-active.svg);
}