:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --grey-dark-color: #555555;
    --light-grey-color: #AAAAAA;
    --orange-color: #FF4310;
    --light-orange-color: #FF714C;
    --red-color: #B3261E;
    --black-88-color: rgba(0, 0, 0, 0.12);
  } 