.main {
  background-color: var(--black-color);
}

.main__container {
  display: flex;
  flex-direction: column;     
  align-items: center;        
  justify-content: center;   
  background-color: var(--black-color);
  color: var(--white-color);
}

.main__image {
  width: 414px;
  height: 242px;
}

.main__title {
  margin: 0 auto;
  padding: 0;
  max-width: 220px;
  min-height: 47px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.main__button-login {
  margin: 12px 0 20px;
  width: 273px;
  height: 42px;
  background-color: var(--orange-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 16px;
}

.main__nav {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;        
  justify-content: center; 
  gap: 20px;
  background-color: var(--white-color);
}