.main {
  background-color: var(--black-color);
  max-height: calc(100vh - 81px); 
  overflow-y: auto; 
}

.main__container {
  display: flex;
  flex-direction: column;     
  align-items: center;        
  justify-content: center;   
  background-color: var(--black-color);
  color: var(--white-color);
}

.main__image {
  width: 414px;
  height: 242px;
}

.main__video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.main__title {
  margin: 6px 36px 12px;
  padding: 0;
  min-height: 47px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.main__button-login {
  margin: 0 0 20px;
  width: 273px;
  height: 42px;
  background-color: var(--orange-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.main__button-login:active {
  transform: scale(0.9);
}

.main__nav {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;        
  justify-content: center; 
  gap: 20px;
  background-color: var(--white-color);
}

.text_bold {
  font-weight: 700;
}

.text_orange {
  font-weight: 700;
  color: var(--orange-color);
}