.navbar {
  width: 382px;
  height: 60px;
  display: flex;
  
  border: solid 1px black;
  border-radius: 16px;
  box-sizing: border-box;
}

.navbar__title {
  font-size: 12px;
}

.navbar__button-link {
  width: 32px;
  height: 32px;
  background-image: url(../../images/button-navbar-link.svg);
  background-color: transparent;
  background-size: cover; 
  background-position: center; 
  border: none;
}