.addVideoButton {
  margin: 0;
  margin-bottom: 198px;
  padding: 10px 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  max-width: 382px;
  border: none;
  border-radius: 16px;
  background-color: orangered;
  cursor: pointer;
}

.videoUploadInput {
  display: none;
}

.videoUploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.videoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  margin: 20px 16px 0;
  width: 100%;
  max-width: 382px;
  border-radius: 8px;
}

.videoPreview {
  margin: 20px 16px 0;
  width: calc(100% - 16px);
  aspect-ratio: 5.62/3;
  background-image: url(../../images/KAPDO_logo_1080х1920_2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.customFileInput {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: calc(100% - 32px);
  height: 48px;
  cursor: pointer;
  /* background-color: var(--orange-color); */
  color: var(--orange-color);
  border-radius: 16px;
  border: 1px  solid var(--orange-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  transition: background-color 0.3s;
}

.customFileInput:active {
  transform: scale(0.9);
}